@import '../styles/prefix.less';

:root {
  --trigger-z-index: 8900;
}

.@{prefix}-trigger {
  &-container {
    position: relative;
    display: inline-block;
  }

  &-content {
    position: absolute;
    z-index: var(--trigger-z-index);
    display: inline-block;
  }
}
