@import '../styles/prefix.less';

:root {
  --message-color: var(--black1);
  --message-bgColor: var(--white);
  --message-border-radius: var(--border-radius);
  --message-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);

  --message-z-index: 9000;
  --message-content-padding: 10px 16px;

  --message-title-font-size: 16px;
  --message-title-line-height: 24px;

  --message-font-size: var(--font-size);
  --message-line-height: var(--line-height);
}

.@{prefix}-message-container,
.@{prefix}-message-container-topLeft,
.@{prefix}-message-container-topRight,
.@{prefix}-message-container-bottomLeft,
.@{prefix}-message-container-bottomRight {
  position: fixed;
  z-index: var(--message-z-index);
  pointer-events: none;
}

.@{prefix}-message-container {
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.@{prefix}-message-container {
  &-topLeft {
    top: 12px;
    left: 12px;
  }

  &-topRight {
    top: 12px;
    right: 12px;
  }

  &-bottomLeft {
    bottom: 0;
    left: 12px;
  }

  &-bottomRight {
    bottom: 0;
    right: 12px;
  }
}

.@{prefix}-message {
  display: block;
  margin-bottom: 12px;
  text-align: center;

  &-inner {
    display: inline-block;
    text-align: start;
    pointer-events: all;
    color: var(--message-color);
    background-color: var(--message-bgColor);
    padding: var(--message-content-padding);
    box-shadow: var(--message-box-shadow);
    border-radius: var(--message-border-radius);
  }

  &-content {
    display: block;
    font-size: var(--message-font-size);
    line-height: var(--message-line-height);
  }

  &-header {
    display: block;
    overflow: hidden;
  }

  &-title {
    float: left;
    font-size: var(--message-title-font-size);
    line-height: var(--message-title-line-height);
  }

  &-close {
    float: right;
    width: 16px;
    height: var(--message-title-line-height);
    cursor: pointer;
    margin-left: 10px;

    path {
      fill: var(--grey1);
    }
  }

  &-icon {
    width: var(--message-title-line-height);
    height: var(--message-title-line-height);
    margin-right: 10px;
    float: left;
  }

  &-msg {
    float: right;
  }

  &-success-icon path {
    fill: var(--success1);
  }

  &-error-icon path {
    fill: var(--danger1);
  }

  &-info-icon path {
    fill: var(--primary3);
  }
}
