.code-viewer {
  margin-bottom: 32px;

  .preview-area {
    padding: 40px;
    border: 1px solid #ddd;
    overflow: hidden;
  }

  & > pre {
    margin-top: -1px !important;
  }

  .show-code {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 0;
    cursor: pointer;
  }
}
