@import "../styles/prefix.less";

:root {
  --dialog-mask-bgColor: rgba(0, 0, 0, 0.2);
  --dialog-mask-z-index: 8800;

  --dialog-color: var(--black1);
  --dialog-bgColor: var(--white);
  --dialog-padding: 10px 16px;
  --dialog-border-radius: var(--border-radius);

  --dialog-title-font-size: 16px;
  --dialog-title-line-height: 24px;

  --dialog-font-size: var(--font-size);
  --dialog-line-height: var(--line-height);
}

.@{prefix}-dialog {
  &-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--dialog-mask-z-index);
  }

  &-mask {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--dialog-mask-bgColor);
  }

  &-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  &-right {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  &-top {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &-bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &-content {
    font-size: var(--dialog-font-size);
    line-height: var(--dialog-line-height);
  }

  &-header,
  &-content {
    display: block;
    overflow: hidden;
  }

  &-title {
    float: left;
    font-size: var(--dialog-title-font-size);
    line-height: var(--dialog-title-line-height);
  }

  &-close {
    float: right;
    width: 16px;
    height: var(--dialog-title-line-height);
    cursor: pointer;
    margin-left: 10px;

    path {
      fill: var(--grey1);
    }
  }
}

.@{prefix}-dialog {
  position: absolute;
  color: var(--dialog-color);
  background-color: var(--dialog-bgColor);
  border-radius: var(--dialog-border-radius);
  text-align: start;
  padding: var(--dialog-padding);
  animation: redleaf-rc-animation-fadein 0.3s;
}

.@{prefix}-dialog-fadeout {
  animation: redleaf-rc-animation-fadeout 0.3s;
}
