.dlg-content {
  width: 400px;
}

.dlg-footer {
  margin-top: 20px;
}

.dialog1 .dialog-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.dialog2 {
  .redleaf-rc-dialog {
    top: 20px;
    right: 20px;
    transform: translate(0, 0);
  }
}

.dialog-side {
  height: 100%;
  width: 400px;
  overflow: scroll;
}

.dialog-form {
  --form-label-width: 50px;
  --form-label-align: start;
}

.dialog4 {
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
}
