html {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.plain-text-md {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #666;
}

#root {
  overflow: hidden;
}

.mr8 {
  margin-right: 8px;
}

.mr16 {
  margin-right: 16px;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.font16 {
  font-size: 16px;
}

.line-height32 {
  line-height: 32px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block !important;
}

.bg-red {
  background-color: #e33;
}

.bg-white {
  background-color: white;
}

.border-1px-black {
  border: 1px solid black;
}

.cursor-pointer {
  cursor: pointer;
}

.vertical-align-middle {
  vertical-align: middle;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 32px;

  th,
  td {
    text-align: start;
    padding: 8px;
    border: 1px solid #eaeefb;
  }

  th {
    background-color: #f5f7fa;
  }

  th:nth-child(1) {
    width: 15%;
  }

  th:nth-child(2) {
    width: 35%;
  }

  th:nth-child(3) {
    width: 25%;
  }

  th:nth-child(4) {
    width: 10%;
  }
}
