:root {
  --primary1: #27f;
  --primary2: #38f;
  --primary3: #59f;

  --success1: #0a0;
  --success2: #4b0;
  --success3: #6c2;

  --danger1: #e33;
  --danger2: #f44;
  --danger3: #f66;

  --white: #fff;

  --black1: #333;
  --black2: #444;
  --black3: #666;

  --grey1: #bbb;
  --grey2: #cacaca;
  --grey3: #e5e5e5;
  --grey4: #f2f2f2;
  --grey5: #f8f8f8;

  --font-size: 14px;
}
