@import '../styles/prefix.less';

:root {
  --table-color: var(--black1);
  --table-thead-bgColor: var(--grey4);
  --table-tbody-bgColor: var(--white);
  --table-border: 1px solid var(--grey1);
  --table-cell-padding: 8px;
  --table-font-size: var(--font-size);
  --table-line-height: var(--line-height);
  --table-overflow-wrap: break-word;
}

.@{prefix}-table {
  &-container {
    overflow: scroll;
    display: inline-block;
    width: 100%;
    font-size: var(--table-font-size);
    line-height: var(--table-line-height);
    color: var(--table-color);
    overflow-wrap: var(--table-overflow-wrap);
  }

  &-tbody,
  &-thead {
    display: block;
    overflow: scroll;
  }

  &-theadtr,
  &-tbodytr,
  &-bordered-theadtr,
  &-bordered-tbodytr {
    display: flex;
  }

  &-bordered-theadtr {
    border-top: var(--table-border);
    border-bottom: var(--table-border);
  }

  &-bordered-tbodytr {
    border-bottom: var(--table-border);
  }

  &-theadtr,
  &-bordered-theadtr {
    background-color: var(--table-thead-bgColor);
  }

  &-tbodytr,
  &-bordered-tbodytr {
    background-color: var(--table-tbody-bgColor);

    // 列折叠时不能用整列hover，只能单个cell去hover
    &:hover .@{prefix}-table-td,
    &:hover .@{prefix}-table-bordered-td {
      background-color: var(--table-thead-bgColor);
    }
  }

  &-th,
  &-td,
  &-bordered-th,
  &-bordered-td {
    padding: var(--table-cell-padding);
    display: inline-block;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  &-bordered-th,
  &-bordered-td {
    border-left: var(--table-border);
  }

  &-bordered-theadtr &-bordered-th:last-child,
  &-bordered-tbodytr &-bordered-td:last-child {
    border-right: var(--table-border);
  }

  &-loading,
  &-nodata {
    display: inline-block;
    height: calc(3 * var(--table-line-height));
    line-height: calc(3 * var(--table-line-height));
    text-align: center;
    width: 100%;
  }
}
