@import "../styles/prefix.less";

:root {
  --popover-z-index: 9000;
}

.@{prefix} {
  &-popover-container {
    position: relative;
    display: inline-block;

    .popover-content {
      position: absolute;
      z-index: var(--popover-z-index);
      display: inline-block;
    }
  
    .popover-content-hidden {
      display: none;
    }
  }
}
