@import '../styles/prefix.less';

:root {
  --default-button-color: var(--black2);
  --colors-button-color: var(--white);

  --default-button-bgColor: var(--white);
  --primary-button-bgColor: var(--primary1);
  --success-button-bgColor: var(--success1);
  --danger-button-bgColor: var(--danger1);

  --default-button-border-color: var(--grey1);

  --disabled-button-bgColor: var(--grey3);
  --disabled-button-color: var(--grey2);
  --disabled-button-border-color: var(--grey1);
}

.@{prefix}-button {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--default-button-color);
  border: 1px solid var(--default-button-border-color);
  background-color: var(--default-button-bgColor);
  user-select: none;

  &:focus {
    outline: none;
  }
}

.primary-button,
.success-button,
.danger-button {
  color: var(--colors-button-color);
}

.primary-button {
  background-color: var(--primary-button-bgColor);
  border-color: var(--primary-button-bgColor);
}

.success-button {
  background-color: var(--success-button-bgColor);
  border-color: var(--success-button-bgColor);
}

.danger-button {
  background-color: var(--danger-button-bgColor);
  border-color: var(--danger-button-bgColor);
}

.bordered-primary-button {
  color: var(--primary-button-bgColor);
  border-color: var(--primary-button-bgColor);
}

.bordered-success-button {
  color: var(--success-button-bgColor);
  border-color: var(--success-button-bgColor);
}

.bordered-danger-button {
  color: var(--danger-button-bgColor);
  border-color: var(--danger-button-bgColor);
}

.disabled-button {
  cursor: not-allowed;
  background-color: var(--disabled-button-bgColor);
  color: var(--disabled-button-color);
  border-color: var(--disabled-button-border-color);
}

.@{prefix}-button-group {
  .@{prefix}-button {
    border-radius: 0;
  }

  .@{prefix}-button + .@{prefix}-button {
    border-left: 0;
  }

  .@{prefix}-button:first-child {
    border-radius: 2px 0 0 2px;
  }

  .@{prefix}-button:last-child {
    border-radius: 0 2px 2px 0;
  }
}
