@import "../styles/prefix.less";

:root {
  --default-button-color: var(--black1);
  --colors-button-color: var(--white);

  --default-button-bgColor: var(--white);
  --primary-button-bgColor: var(--primary1);
  --success-button-bgColor: var(--success1);
  --danger-button-bgColor: var(--danger1);

  --default-button-border: 1px solid var(--grey3);

  --disabled-button-bgColor: var(--grey4);
  --disabled-button-color: var(--grey2);

  --button-font-size: var(--font-size);
  --button-line-height: var(--line-height);
  --button-border-radius: var(--border-radius);
  --button-padding: 4px 16px;
}

.redleaf-rc-button-color-style(@color) {
  background-color: @color;
  border-color: @color;
}

.redleaf-rc-borderd-button-color-style(@color) {
  color: @color;
  border-color: @color;
}

.@{prefix} {
  &-button {
    display: inline-block;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    color: var(--default-button-color);
    border: var(--default-button-border);
    background-color: var(--default-button-bgColor);
    user-select: none;
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);

    &:focus {
      outline: none;
    }
  }

  &-primary-button,
  &-success-button,
  &-danger-button {
    color: var(--colors-button-color);
  }

  &-primary-button {
    .redleaf-rc-button-color-style(var(--primary-button-bgColor));
  }

  &-success-button {
    .redleaf-rc-button-color-style(var(--success-button-bgColor));
  }

  &-danger-button {
    .redleaf-rc-button-color-style(var(--danger-button-bgColor));
  }

  &-bordered-primary-button {
    .redleaf-rc-borderd-button-color-style(var(--primary-button-bgColor));
  }

  &-bordered-success-button {
    .redleaf-rc-borderd-button-color-style(var(--success-button-bgColor));
  }

  &-bordered-danger-button {
    .redleaf-rc-borderd-button-color-style(var(--danger-button-bgColor));
  }

  &-disabled-button {
    cursor: not-allowed;
    background-color: var(--disabled-button-bgColor);
    color: var(--disabled-button-color);
    border: var(--default-button-border);
  }
}

.@{prefix}-button-group {
  .@{prefix}-button {
    border-radius: 0;
    margin: 0;
  }

  .@{prefix}-button + .@{prefix}-button {
    border-left: 0;
  }

  .@{prefix}-button:first-child {
    border-radius: var(--button-border-radius) 0 0 var(--button-border-radius);
  }

  .@{prefix}-button:last-child {
    border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
  }
}
