@import "../styles/prefix.less";

:root {
  --datetime-color: var(--black1);
  --datetime-font-size: var(--font-size);
  --datetime-line-height: var(--line-height);
  --datetime-border: 1px solid var(--grey1);
  --datetime-bgColor: var(--white);
  --datetime-border-radius: var(--border-radius);
  --datetime-padding: 4px 8px;
  --datetime-width: 200px;
  --datetime-icon-size: 20px;
  --datetime-placeholder-color: var(--grey1);

  --disabled-datetime-color: var(--grey2);

  --datetime-panel-bgColor: var(--white);
  --datetime-panel-line-height: 30px;
  --datetime-panel-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  --datetime-panel-cell-hover-bgColor: var(--primary3);
  --datetime-panel-cell-hover-color: var(--white);
  --date-panel-col-width: 30px;
  --time-panel-col-width: 60px;
  --time-panel-col-height: 210px;
}

@datetime-prefix: ~"@{prefix}-datetime";

.@{prefix}-datetime-container {
  .@{datetime-prefix} {
    &-item {
      display: inline-block;
      color: var(--datetime-color);
      font-size: var(--datetime-font-size);
      line-height: var(--datetime-line-height);
      border: var(--datetime-border);
      border-radius: var(--datetime-border-radius);
      padding: var(--datetime-padding);
      width: var(--datetime-width);
      position: relative;
      box-sizing: border-box;
      cursor: default;
    }

    &-disabled-item {
      color: var(--disabled-datetime-color);
      cursor: default;
    }

    &-placeholder {
      color: var(--datetime-placeholder-color);
    }

    &-clear-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: var(--datetime-icon-size);
      height: var(--datetime-icon-size);
      cursor: pointer;

      path {
        fill: var(--grey1);
      }
    }
  }
}

.@{prefix}-trigger-content {
  user-select: none;

  .@{datetime-prefix} {
    &-panel-container {
      display: inline-block;
      color: var(--datetime-color);
      background-color: var(--datetime-panel-bgColor);
      border-radius: var(--datetime-border-radius);
      box-shadow: var(--datetime-panel-box-shadow);
      text-align: center;
      // timePanel和其他Panel放一起的时候不换行
      white-space: nowrap;
    }

    &-time-panel {
      // 填充的空行需要换行
      white-space: normal;

      .@{datetime-prefix} {
        &-col {
          height: var(--time-panel-col-height);
          width: var(--time-panel-col-width);
          overflow-y: auto;
          position: relative;
        }

        &-row-tip-text {
          width: var(--time-panel-col-width);
        }

        &-row {
          cursor: pointer;

          &:hover {
            color: var(--datetime-panel-cell-hover-bgColor);
          }
        }
      }
    }

    &-year-panel,
    &-month-panel,
    &-date-panel {
      .@{datetime-prefix} {
        &-row-over {
          overflow: hidden;
        }

        &-left {
          float: left;
        }
        &-right {
          float: right;
        }

        &-row-over-text {
          line-height: var(--date-panel-col-width);
          cursor: pointer;

          &:hover {
            color: var(--datetime-panel-cell-hover-bgColor);
          }
        }

        &-change-yymm-icon {
          width: var(--datetime-icon-size);
          height: var(--datetime-icon-size);
          padding: calc(
            (var(--date-panel-col-width) - var(--datetime-icon-size)) / 2
          );
          cursor: pointer;

          path {
            fill: var(--grey1);
          }

          &:hover path {
            fill: var(--datetime-panel-cell-hover-bgColor);
          }
        }
      }
    }

    &-date-panel {
      .@{datetime-prefix} {
        &-col,
        &-row-tip-text {
          cursor: pointer;
          height: var(--date-panel-col-width);
          width: var(--date-panel-col-width);
        }

        &-col {
          border-radius: var(--datetime-border-radius);

          &:hover {
            color: var(--datetime-panel-cell-hover-bgColor);
          }
        }
      }
    }

    &-year-panel,
    &-month-panel {
      .@{datetime-prefix} {
        &-col {
          cursor: pointer;
          width: calc(var(--datetime-font-size) * 3);
          margin: calc(
              (
                  var(--date-panel-col-width) * 7 -
                    var(--datetime-panel-line-height) * 4
                ) / 8
            )
            calc(var(--date-panel-col-width) / 4);
          border-radius: var(--datetime-border-radius);

          &:hover {
            color: var(--datetime-panel-cell-hover-bgColor);
          }
        }
      }
    }

    &-year-panel,
    &-date-panel {
      .@{datetime-prefix} {
        &-disable-col {
          color: var(--disabled-datetime-color);
          cursor: default;

          &:hover {
            color: var(--disabled-datetime-color);
          }
        }
      }
    }

    &-year-panel {
      .@{datetime-prefix} {
        &-row-over-text {
          cursor: default;

          &:hover {
            color: var(--datetime-color);
          }
        }
      }
    }

    &-year-panel,
    &-month-panel,
    &-date-panel,
    &-time-panel {
      padding: var(--datetime-padding);
      display: inline-block;
      font-size: 0;

      .@{datetime-prefix} {
        &-row,
        &-row-over,
        &-row-tip,
        &-row-bottom {
          display: block;
          font-size: var(--datetime-font-size);
          line-height: var(--datetime-panel-line-height);
        }

        &-col,
        &-row-over-text,
        &-row-tip-text {
          display: inline-block;
        }

        &-active-row,
        &-active-col {
          color: var(--datetime-panel-cell-hover-color);
          background-color: var(--datetime-panel-cell-hover-bgColor);

          &:hover {
            color: var(--datetime-panel-cell-hover-color);
          }
        }

        &-row-bottom {
          cursor: pointer;
          color: var(--datetime-panel-cell-hover-bgColor);
        }

        &-row-space {
          display: inline-block;
          width: 100%;
          height: var(--datetime-panel-line-height);
        }
      }
    }
  }
}
