@import '../styles/prefix.less';

:root {
  --input-color: var(--black1);
  --input-border: 1px solid var(--grey1);
  --input-bgColor: var(--white);

  --disabled-input-color: var(--grey2);
  --disabled-input-border: 1px solid var(--grey1);
  --disabled-input-bgColor: var(--grey3);

  --input-width: 200px;
  --input-font-size: var(--font-size);
  --input-line-height: var(--line-height);
  --input-border-radius: 2px;
  --input-padding: 4px 8px;
  --input-vertical-align: top;

  --textarea-resize: none;
}

.@{prefix} {
  &-input-container {
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    color: var(--input-color);
    background-color: var(--input-bgColor);
    display: inline-block;
    vertical-align: var(--input-vertical-align);
    padding: var(--input-padding);
    width: var(--input-width);
    box-sizing: border-box;

    .input,
    .textarea {
      border: none;
      outline: none;
      font-size: var(--input-font-size);
      line-height: var(--input-line-height);
      background-color: var(--input-bgColor);
      width: 100%;
    }

    .input {
      vertical-align: middle;
      padding: 0;
    }

    .textarea {
      resize: var(--textarea-resize);
    }

    .input-password {
      width: calc(100% - var(--input-line-height));
    }

    .input-count {
      display: inline-block;
      font-size: var(--input-font-size);
      line-height: var(--input-line-height);
      color: var(--input-color);
      margin-left: 4px;
    }

    .input-password-icon {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      flex-shrink: 0;
      width: var(--input-line-height);
      height: var(--input-line-height);
    }
  }

  &-disabled-input-container {
    border: var(--disabled-input-border);
    color: var(--disabled-input-color);
    background-color: var(--disabled-input-bgColor);
    cursor: not-allowed;

    .input {
      background-color: var(--disabled-input-bgColor);
    }

    .textarea {
      background-color: var(--disabled-input-bgColor);
    }
  }
}
